.hero {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3.5rem;
  padding: 4rem 1.5rem;
  /* background: var(--bg-main); */
}

.hero-content {
  max-width: 800px;
  text-align: right;
}
/* for typewriter effect */
.typewriter{
  overflow: hidden;
  white-space: nowrap;
  border-right: 2px solid var(--accent);
  animation: typing 5s steps(30, end), blink-caret 0.75s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: var(--accent);
  }
}

.hero-title {
  font-family: var(--font-mono);
  font-size: clamp(2.8rem, 5vw, 4.2rem);
  font-weight: 700;
  color: var(--text-primary);
  animation: fadeIn 1s ease forwards;
}

.hero-name {
  font-family: var(--font-heading);
  color: var(--accent);
}

.hero-tagline {
  margin-top: 1rem;
  font-family: var(--font-mono);
  font-size: 2rem;
  font-weight: 500;
  color: var(--text-secondary);
}

.hero-description {
  margin-top: 1.2rem;
  font-family: var(--font-mono);
  font-size: 1.8rem;
  line-height: 1.7;
  color: var(--text-muted);
}

/* Buttons */
.hero-buttons {
  margin-top: 2rem;
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
}

.btn-primary {
  padding: 0.75rem 1.6rem;
  background: var(--accent);
  color: #000;
  border-radius: 14px;
  font-weight: 600;
  border: none;
  cursor: pointer;
  transition: all 0.25s ease;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
}

.btn-primary:hover {
  transform: translateY(-2px);
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.25);
}

.btn-secondary {
  padding: 0.75rem 1.6rem;
  background: transparent;
  color: var(--accent);
  border-radius: 14px;
  font-weight: 600;
  border: 2px solid var(--accent);
  cursor: pointer;
  transition: all 0.25s ease;
}

.btn-secondary:hover {
  background: var(--accent);
  color: #000;
}

/* Image */
.hero-visual img {
  width: 100%;
  max-width: 420px;
  animation: float 6s ease-in-out infinite;
}

/* Responsive */
@media (max-width: 900px) {
  .hero {
    flex-direction: column-reverse;
    text-align: center;
  }

  .hero-content {
    text-align: center;
  }

  .hero-buttons {
    justify-content: center;
  }
}
